.About {
	background-color: #fff;
	margin-bottom: rem(10,$text-bp-sm);

	@include bp-medium {
    	margin-bottom: rem(10,$text-bp-md);
    }

    @include bp-large {
    	margin-bottom: rem(50,$text-bp-lg);
    }
}

.AboutHolder, .AboutBack {
	width: rem(320,$text-bp-sm);
	height: rem(600,$text-bp-sm);

	@include bp-medium {
    	width: rem(1270,$text-bp-md);
		height: rem(714,$text-bp-md);
    }

    @include bp-large {
    	width: rem(1600,$text-bp-lg);
		height: rem(235,$text-bp-lg);
    }
}
.AboutHolder {
	position: relative;
}

.AboutTitle {
	position: absolute;
	background-color:#000;
	color: #fff;
	font-family: 'SteelTongsRegular', sans-serif;
  	font-weight: 800;
  	text-align: center;

  	bottom: 0;

	font-size: rem(48,$text-bp-sm);
  	line-height: rem(55,$text-bp-sm);
	left: rem(100,$text-bp-sm);
	width: rem(320,$text-bp-sm);
	height: rem(600,$text-bp-sm);


	@include bp-medium {
		font-size: rem(48,$text-bp-md);
		line-height: rem(55,$text-bp-md);
		left: rem(190,$text-bp-md);
    	width: rem(1270,$text-bp-md);
		height: rem(714,$text-bp-md);
    }

    @include bp-large {
    	font-size: rem(48,$text-bp-lg);
    	line-height: rem(80,$text-bp-lg);
    	left: rem(190,$text-bp-lg);
    	width: rem(115,$text-bp-lg);
		height: rem(64,$text-bp-lg);
    }	
}

.AboutDesc {
	background-color: #000;
	color: #fff;
	font-size: rem(28,$text-bp-sm);
  	line-height: rem(30,$text-bp-sm);
	padding: rem(20,$text-bp-sm);
	

	@include bp-medium {
		font-size: rem(28,$text-bp-md);
		line-height: rem(30,$text-bp-md);
		padding: rem(20,$text-bp-md);
    }

    @include bp-large {
    	font-size: rem(18,$text-bp-lg);
    	line-height: rem(24,$text-bp-lg);
    	padding: rem(40,$text-bp-lg);
    }	

}

