.Site {
  position: relative;
  margin:0 auto ;
  overflow-x: hidden;
  overflow-y: hidden;
  width:100%;
  height:100%;
  
  background-color: #000;
  padding-bottom: rem(30,$text-bp-sm);

   @include bp-medium {
      padding-bottom: rem(30,$text-bp-md);
   }

   @include bp-large {
      padding-bottom: rem(30,$text-bp-lg);
   }
}

img {
	width: 100%;
	height: auto;
}

body {
	background-color: #000;
}


