/**
 * Import SASS 
 * Combining files into one, adds them in sequence
 */
/**
 * Global Variables
 */
/* Breakpoint Screen Sizes */
/* Breakpoint Font Root Sizes */
/* Colors */
/* Official Social Media Colors */
/* Fonts */
/**
 * Mixins
 */
/**
 * Media Queries
 */
/**
 * hoverTouch.js implementation
 */
/**
 * Convert pixel sizes to REM
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $root    The root size to convert by
 * @return  {string}  the calculated REM size
 */
/**
 * Convert pixel sizes to VW
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $width   The width to convert by
 * @return  {string}  the calculated VW size
 */
/**
 * Custom Scrollbar Styling
 * @param  {integer} $size       Enter in the increments for size of the scrollbar
 *                               EX: ".5em"
 * @param  {string}  $primary    Enter in the color desired for the primary color
 * @param  {string}  $secondary  Enter in the color desired for the secondary color
 */
/**
 * Imports
 * Add external files into combined sass file
 */
/**
 * Keyframe Animations
 */
@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; }
  1% {
    z-index: 3; }
  100% {
    opacity: 1;
    visibility: visible;
    z-index: 3; } }

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 3; }
  99% {
    z-index: 3; }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; } }

@keyframes rotateClockwise {
  100% {
    transform: rotate(360deg); } }

/**
 * Global
 */
html, body {
  font-size: 16px; }
  @media only screen and (min-width: 320px) {
    html, body {
      font-size: 2.13333vw; } }
  @media only screen and (min-width: 751px) {
    html, body {
      font-size: 0.94488vw; } }
  @media only screen and (min-width: 1271px) {
    html, body {
      font-size: 0.625vw; } }

.Site {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  padding-bottom: 1.875rem; }
  @media only screen and (min-width: 751px) {
    .Site {
      padding-bottom: 2.5rem; } }
  @media only screen and (min-width: 1271px) {
    .Site {
      padding-bottom: 3rem; } }

img {
  width: 100%;
  height: auto; }

body {
  background-color: #000; }

.Nav {
  font-family: 'SteelTongsRegular', sans-serif;
  font-weight: 800;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  padding: 0;
  display: table;
  vertical-align: top;
  width: 46.875rem; }
  @media only screen and (min-width: 751px) {
    .Nav {
      width: 104.16667rem; } }
  @media only screen and (min-width: 1271px) {
    .Nav {
      width: 156rem; } }

.NavLogo {
  position: fixed;
  float: left;
  background-color: #000;
  color: #FFF;
  text-align: center;
  top: 0rem;
  left: 0rem;
  width: 46.875rem;
  font-size: 5rem;
  line-height: 5rem;
  padding: 1.5625rem 0rem;
  margin-left: 0rem; }
  @media only screen and (min-width: 751px) {
    .NavLogo {
      width: auto;
      font-size: 6.33333rem;
      line-height: 6.66667rem;
      padding: 1.25rem 2.08333rem;
      margin-left: 12.5rem; } }
  @media only screen and (min-width: 1271px) {
    .NavLogo {
      width: auto;
      font-size: 7.6rem;
      line-height: 8rem;
      padding: 1.5rem 2.5rem;
      margin-left: 19rem; } }

.Menu {
  display: block;
  position: fixed;
  color: #fff;
  top: 1.25rem;
  right: 1.875rem;
  font-size: 5rem;
  line-height: 5rem; }
  @media only screen and (min-width: 751px) {
    .Menu {
      display: none; } }
  @media only screen and (min-width: 1271px) {
    .Menu {
      display: none; } }

.NavButtons {
  position: fixed;
  background-color: #000;
  color: #FFF;
  text-align: center;
  top: 7.5rem;
  right: 0rem;
  width: 46.875rem;
  height: 0;
  overflow: hidden;
  padding: 0rem 0rem; }
  @media only screen and (min-width: 751px) {
    .NavButtons {
      top: 0rem;
      right: 4.16667rem;
      width: auto;
      height: auto;
      padding: 0.41667rem 1.25rem; } }
  @media only screen and (min-width: 1271px) {
    .NavButtons {
      top: 0rem;
      right: 5rem;
      width: auto;
      height: auto;
      padding: 0.5rem 1.5rem; } }

.NavBtnHolder, .SocialBtnHolder {
  display: inline-block;
  width: 100%; }
  @media only screen and (min-width: 751px) {
    .NavBtnHolder, .SocialBtnHolder {
      width: auto; } }
  @media only screen and (min-width: 1271px) {
    .NavBtnHolder, .SocialBtnHolder {
      width: auto; } }

.SocialBtnHolder {
  display: inline-block;
  margin-bottom: 6.25rem; }
  @media only screen and (min-width: 751px) {
    .SocialBtnHolder {
      margin-bottom: 0rem; } }
  @media only screen and (min-width: 1271px) {
    .SocialBtnHolder {
      margin-bottom: 0rem; } }

.NavBtn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: color 0.5s ease;
  color: #000;
  width: 45.625rem;
  font-size: 5rem;
  padding: 2.5rem 0rem; }
  @media only screen and (min-width: 751px) {
    .NavBtn {
      width: auto;
      font-size: 3rem;
      padding: 0 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .NavBtn {
      width: auto;
      font-size: 3.6rem;
      padding: 0 1rem; } }

.SocialBtn {
  cursor: pointer;
  display: inline-block;
  transition: color 0.5s ease;
  color: #000;
  font-size: 4.375rem;
  padding: 1.875rem 1.875rem; }
  @media only screen and (min-width: 751px) {
    .SocialBtn {
      font-size: 1.5rem;
      padding: 0 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .SocialBtn {
      font-size: 3.6rem;
      padding: 0 1rem; } }

.ScreenReaderText {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px; }

.NavButtons a:link {
  color: #fff;
  text-decoration: none; }

.NavButtons a:visited {
  color: #FFF;
  text-decoration: none; }

.NavButtons a:hover {
  color: #FFF;
  text-decoration: underline; }

.NavButtons a:active {
  color: #FFF;
  text-decoration: none; }

@keyframes navRest {
  to {
    color: #000; } }

@keyframes navRoll {
  to {
    color: #333; } }

.img {
  width: 100%;
  height: auto; }

.Header {
  background-color: #000;
  margin-top: 8.125rem;
  margin-bottom: 0.625rem; }
  @media only screen and (min-width: 751px) {
    .Header {
      margin-top: 0rem;
      margin-bottom: 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .Header {
      margin-top: 0rem;
      margin-bottom: 1rem; } }

.Header, .HeaderHolder, .HeaderVideo, .HeaderMask {
  width: 46.875rem;
  height: 18.75rem; }
  @media only screen and (min-width: 751px) {
    .Header, .HeaderHolder, .HeaderVideo, .HeaderMask {
      width: 105.83333rem;
      height: 42.5rem; } }
  @media only screen and (min-width: 1271px) {
    .Header, .HeaderHolder, .HeaderVideo, .HeaderMask {
      width: 160rem;
      height: 64.3rem; } }

.HeaderHolder {
  position: relative;
  color: white;
  overflow: hidden; }

.HeaderVideo {
  position: absolute; }

.HeaderMask {
  position: absolute; }

.HeaderBack {
  fill: #FFF;
  width: 100rem;
  height: 56.25rem; }
  @media only screen and (min-width: 751px) {
    .HeaderBack {
      width: 133.33333rem;
      height: 75rem; } }
  @media only screen and (min-width: 1271px) {
    .HeaderBack {
      width: 160rem;
      height: 90rem; } }

.HeaderRect {
  transform: rotate(45deg) translate(-50rem, -59.375rem);
  fill: #eff3f6;
  width: 100rem;
  height: 56.25rem; }
  @media only screen and (min-width: 751px) {
    .HeaderRect {
      width: 133.33333rem;
      height: 75rem; } }
  @media only screen and (min-width: 1271px) {
    .HeaderRect {
      width: 174.5rem;
      height: 174.5rem; } }

.HeaderRectTop {
  transform: rotate(45deg) translate(-50rem, -59.375rem);
  fill: #eff3f6;
  width: 100rem;
  height: 56.25rem; }
  @media only screen and (min-width: 751px) {
    .HeaderRectTop {
      width: 133.33333rem;
      height: 75rem; } }
  @media only screen and (min-width: 1271px) {
    .HeaderRectTop {
      width: 174.5rem;
      height: 174.5rem; } }

.HeaderTxt {
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  font-size: 19rem;
  transform: translate(6.25rem, 12.5rem); }

.HeaderClip {
  width: 100rem;
  height: 56.25rem; }
  @media only screen and (min-width: 751px) {
    .HeaderClip {
      width: 133.33333rem;
      height: 75rem; } }
  @media only screen and (min-width: 1271px) {
    .HeaderClip {
      width: 160rem;
      height: 90rem; } }

.Skills {
  background-color: #000; }

.SkillsHolder, .SkillsBack {
  overflow: hidden;
  width: 46.875rem;
  height: 11.25rem; }
  @media only screen and (min-width: 751px) {
    .SkillsHolder, .SkillsBack {
      width: 105.83333rem;
      height: 15rem; } }
  @media only screen and (min-width: 1271px) {
    .SkillsHolder, .SkillsBack {
      width: 160rem;
      height: 23.5rem; } }

.SkillsHolder, .SkillsBack {
  position: relative; }

.SkillsBack img {
  width: 100%;
  height: auto; }

.SkillsTitle {
  position: absolute;
  background-color: #000;
  color: #fff;
  font-family: 'SteelTongsRegular', sans-serif;
  font-weight: 800;
  text-align: center;
  bottom: 0;
  font-size: 3rem;
  line-height: 6.25rem;
  left: 0rem;
  width: 46.875rem;
  height: 4.375rem; }
  @media only screen and (min-width: 751px) {
    .SkillsTitle {
      font-size: 4rem;
      line-height: 6.66667rem;
      left: 12.5rem;
      width: 15.83333rem;
      height: 5.33333rem; } }
  @media only screen and (min-width: 1271px) {
    .SkillsTitle {
      font-size: 4.8rem;
      line-height: 8rem;
      left: 19rem;
      width: 11.5rem;
      height: 6.4rem; } }

.SkillsDesc {
  background-color: #000;
  color: #fff;
  font-size: 1.6875rem;
  line-height: 2.375rem;
  padding: 1.5625rem;
  text-align: center; }
  @media only screen and (min-width: 751px) {
    .SkillsDesc {
      font-size: 1.75rem;
      line-height: 2.33333rem;
      padding: 3.33333rem; } }
  @media only screen and (min-width: 1271px) {
    .SkillsDesc {
      font-size: 2.8rem;
      line-height: 3.6rem;
      padding: 4rem; } }

.About {
  background-color: #000;
  margin-bottom: 0.625rem; }
  @media only screen and (min-width: 751px) {
    .About {
      margin-bottom: 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .About {
      margin-bottom: 5rem; } }

.AboutHolder, .AboutBack {
  overflow: hidden;
  width: 46.875rem;
  height: 11.25rem; }
  @media only screen and (min-width: 751px) {
    .AboutHolder, .AboutBack {
      width: 105.83333rem;
      height: 15.41667rem; } }
  @media only screen and (min-width: 1271px) {
    .AboutHolder, .AboutBack {
      width: 160rem;
      height: 23.5rem; } }

.AboutHolder {
  position: relative; }

.AboutTitle {
  position: absolute;
  background-color: #000;
  color: #fff;
  font-family: 'SteelTongsRegular', sans-serif;
  font-weight: 800;
  text-align: center;
  bottom: 0;
  font-size: 3rem;
  line-height: 6.25rem;
  left: 0rem;
  width: 46.875rem;
  height: 4.375rem; }
  @media only screen and (min-width: 751px) {
    .AboutTitle {
      font-size: 4rem;
      line-height: 6.66667rem;
      left: 12.5rem;
      width: 15.83333rem;
      height: 5.33333rem; } }
  @media only screen and (min-width: 1271px) {
    .AboutTitle {
      font-size: 4.8rem;
      line-height: 8rem;
      left: 19rem;
      width: 11.5rem;
      height: 6.4rem; } }

.AboutDesc {
  background-color: #000;
  color: #fff;
  font-size: 1.3125rem;
  line-height: 1.875rem;
  padding: 1.25rem;
  text-align: center; }
  @media only screen and (min-width: 751px) {
    .AboutDesc {
      font-size: 1.75rem;
      line-height: 2.5rem;
      padding: 3.33333rem; } }
  @media only screen and (min-width: 1271px) {
    .AboutDesc {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding: 4rem; } }

.Portfolio {
  background-color: #000; }

.PortfolioHolder, .PortfolioBack {
  overflow: hidden;
  width: 46.875rem;
  height: 11.25rem; }
  @media only screen and (min-width: 751px) {
    .PortfolioHolder, .PortfolioBack {
      width: 105.83333rem;
      height: 15.41667rem; } }
  @media only screen and (min-width: 1271px) {
    .PortfolioHolder, .PortfolioBack {
      width: 160rem;
      height: 23.5rem; } }

.PortfolioHolder, .PortfolioBack {
  position: relative; }

.PortfolioBack img {
  width: 100%;
  height: auto; }

.PortfolioTitle {
  position: absolute;
  background-color: #000;
  color: #fff;
  font-family: 'SteelTongsRegular', sans-serif;
  font-weight: 800;
  text-align: center;
  bottom: 0;
  font-size: 3rem;
  line-height: 6.25rem;
  left: 0rem;
  width: 46.875rem;
  height: 4.375rem;
  padding: 0; }
  @media only screen and (min-width: 751px) {
    .PortfolioTitle {
      font-size: 4rem;
      line-height: 6.66667rem;
      left: 12.5rem;
      width: auto;
      height: 5.83333rem;
      padding: 0 2.5rem; } }
  @media only screen and (min-width: 1271px) {
    .PortfolioTitle {
      font-size: 4.8rem;
      line-height: 8rem;
      left: 19rem;
      width: auto;
      height: 6.4rem;
      padding: 0 2rem; } }

.PortfolioBtns {
  display: inline-block;
  margin-left: 1rem; }

.PortfolioBtns a:link {
  color: #fff;
  text-decoration: none; }

.PortfolioBtns a:visited {
  color: #FFF;
  text-decoration: none; }

.PortfolioBtns a:hover {
  color: #FFF;
  text-decoration: underline; }

.PortfolioBtns a:active {
  color: #FFF;
  text-decoration: none; }

.PortfolioBtn {
  cursor: pointer;
  display: inline-block;
  transition: color 0.5s ease;
  color: #fff;
  font-size: 1.125rem;
  padding: 0 0.625rem; }
  @media only screen and (min-width: 751px) {
    .PortfolioBtn {
      font-size: 1.5rem;
      padding: 0 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .PortfolioBtn {
      font-size: 2.4rem;
      padding: 0 1rem; } }

.PortfolioContent {
  display: table;
  text-align: center;
  width: 100%;
  min-height: 43.75rem; }
  @media only screen and (min-width: 751px) {
    .PortfolioContent {
      min-height: 58.33333rem; } }
  @media only screen and (min-width: 1271px) {
    .PortfolioContent {
      min-height: 50rem; } }

.PortItem {
  display: inline-block;
  vertical-align: top;
  background-color: #000;
  margin: 1.25rem auto 4.375rem auto;
  width: 43.75rem; }
  @media only screen and (min-width: 751px) {
    .PortItem {
      margin: 1.66667rem 1.66667rem 1.66667rem 1.66667rem;
      width: 45.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .PortItem {
      margin: 3rem 2rem 2rem 2rem;
      width: 45rem; } }

.PortInfo {
  margin: 1.25rem; }

.PortTitle {
  font-family: 'SteelTongsRegular', sans-serif;
  font-weight: 800;
  color: #fff;
  text-align: center;
  font-size: 3.75rem;
  line-height: 5rem;
  padding: 0 0.625rem; }
  @media only screen and (min-width: 751px) {
    .PortTitle {
      font-size: 3.33333rem;
      line-height: 4.58333rem;
      padding: 0 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .PortTitle {
      font-size: 3.6rem;
      line-height: 4.8rem;
      padding: 0 1rem; } }

.PortDesc {
  color: #fff;
  text-align: center;
  font-size: 1.3125rem;
  line-height: 1.75rem;
  padding: 0 0.625rem; }
  @media only screen and (min-width: 751px) {
    .PortDesc {
      font-size: 1.5rem;
      line-height: 1.75rem;
      padding: 0 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .PortDesc {
      font-size: 1.6rem;
      line-height: 2.1rem;
      padding: 0 1rem; } }

.PortTools {
  color: #999;
  text-align: center;
  font-style: italic;
  font-size: 1.3125rem;
  line-height: 1.75rem;
  padding: 0 0.625rem; }
  @media only screen and (min-width: 751px) {
    .PortTools {
      font-size: 1.41667rem;
      line-height: 2.33333rem;
      padding: 0.83333rem 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .PortTools {
      font-size: 1.6rem;
      line-height: 2.1rem;
      padding: 1rem 1rem; } }

.PortShow {
  display: inline-block; }

.PortHide {
  display: none; }

.Contact {
  background-color: #fff;
  margin-bottom: 0.625rem; }
  @media only screen and (min-width: 751px) {
    .Contact {
      margin-bottom: 0.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .Contact {
      margin-bottom: 5rem; } }

.ContactHolder, .ContactBack {
  overflow: hidden;
  width: 46.875rem;
  height: 11.25rem; }
  @media only screen and (min-width: 751px) {
    .ContactHolder, .ContactBack {
      width: 105.83333rem;
      height: 15.41667rem; } }
  @media only screen and (min-width: 1271px) {
    .ContactHolder, .ContactBack {
      width: 160rem;
      height: 23.5rem; } }

.ContactHolder {
  position: relative; }

.ContactTitle {
  position: absolute;
  background-color: #000;
  color: #fff;
  font-family: 'SteelTongsRegular', sans-serif;
  font-weight: 800;
  text-align: center;
  bottom: 0;
  font-size: 3rem;
  line-height: 6.25rem;
  left: 0rem;
  width: 46.875rem;
  height: 4.375rem; }
  @media only screen and (min-width: 751px) {
    .ContactTitle {
      font-size: 4rem;
      line-height: 6.66667rem;
      left: 12.5rem;
      width: 15.83333rem;
      height: 5.83333rem; } }
  @media only screen and (min-width: 1271px) {
    .ContactTitle {
      font-size: 4.8rem;
      line-height: 8rem;
      left: 19rem;
      width: 11.5rem;
      height: 6.4rem; } }

.ContactInfo {
  background-color: #000;
  color: #fff;
  font-size: 1.3125rem;
  line-height: 1.875rem;
  padding: 1.25rem;
  text-align: center; }
  @media only screen and (min-width: 751px) {
    .ContactInfo {
      font-size: 2.33333rem;
      line-height: 2.5rem;
      padding: 5rem 12.5rem;
      text-align: left; } }
  @media only screen and (min-width: 1271px) {
    .ContactInfo {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding: 6rem 19rem;
      text-align: left; } }

.ContactInfo a {
  background-color: #000;
  color: #fff; }

.ContactName {
  font-family: 'SteelTongsRegular', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.875rem; }
  @media only screen and (min-width: 751px) {
    .ContactName {
      font-size: 2.33333rem;
      line-height: 2.5rem; } }
  @media only screen and (min-width: 1271px) {
    .ContactName {
      font-size: 3.6rem;
      line-height: 4rem; } }
