.Header {
	background-color: #000;
	margin-top: rem(130,$text-bp-sm);
	margin-bottom: rem(10,$text-bp-sm);

	@include bp-medium {
		margin-top: rem(0,$text-bp-md);
    	margin-bottom: rem(10,$text-bp-md);
    }

    @include bp-large {
    	margin-top: rem(0,$text-bp-lg);
    	margin-bottom: rem(10,$text-bp-lg);
    }
}

.Header, .HeaderHolder, .HeaderVideo, .HeaderMask{
	width: rem(750,$text-bp-sm);
	height: rem(300,$text-bp-sm);

	@include bp-medium {
    	width: rem(1270,$text-bp-md);
		height: rem(510,$text-bp-md);
    }

    @include bp-large {
    	width: rem(1600,$text-bp-lg);
		height: rem(643,$text-bp-lg);
    }
}


.HeaderHolder {
	position: relative;
	color: white;
	overflow: hidden;
}

.HeaderVideo {
	position: absolute;
}

.HeaderMask {
	position: absolute;

}

.HeaderBack,  {
	fill:#FFF;
	width: rem(1600,$text-bp-sm);
	height: rem(900,$text-bp-sm);

	@include bp-medium {
    	width: rem(1600,$text-bp-md);
		height: rem(900,$text-bp-md);
    }

    @include bp-large {
    	width: rem(1600,$text-bp-lg);
		height: rem(900,$text-bp-lg);
    }	
}

.HeaderRect {
	transform: rotate(45deg) translate(rem(-800,$text-bp-sm),rem(-950,$text-bp-sm));
	fill:#eff3f6;
	width: rem(1600,$text-bp-sm);
	height: rem(900,$text-bp-sm);

	@include bp-medium {
    	width: rem(1600,$text-bp-md);
		height: rem(900,$text-bp-md);
    }

    @include bp-large {
    	width: rem(1745,$text-bp-lg);
		height: rem(1745,$text-bp-lg);
    }	
}

.HeaderRectTop {
	transform: rotate(45deg) translate(rem(-800,$text-bp-sm),rem(-950,$text-bp-sm));
	fill:#eff3f6;
	width: rem(1600,$text-bp-sm);
	height: rem(900,$text-bp-sm);

	@include bp-medium {
    	width: rem(1600,$text-bp-md);
		height: rem(900,$text-bp-md);
    }

    @include bp-large {
    	width: rem(1745,$text-bp-lg);
		height: rem(1745,$text-bp-lg);
    }	
}


.HeaderTxt {
	font-family: 'Khula', sans-serif;
	font-weight: 800;
	font-size: rem(190,$text-bp-lg);
	transform: translate(rem(100,$text-bp-sm),rem(200,$text-bp-sm));
}

.HeaderClip {
	width: rem(1600,$text-bp-sm);
	height: rem(900,$text-bp-sm);

	@include bp-medium {
    	width: rem(1600,$text-bp-md);
		height: rem(900,$text-bp-md);
    }

    @include bp-large {
    	width: rem(1600,$text-bp-lg);
		height: rem(900,$text-bp-lg);
    }		
}

.HeaderBackHolder {

}
